@use "../../styles/partials/colors" as *;

.step1 {

    &__title {
        margin: 0.5rem 0;
    }

    &__text {
        color: $secondary-text;
        font-size: 0.7rem;
        display: block;
        margin-bottom: 1.5rem;
    }

    &__div {
        display: flex;
        flex-direction: column;
        margin-top: 0.75rem;
    }

    &__label {
        font-size: 0.6rem;
    }

    &__input {
        height: 2rem;
        padding: 0.5rem;
        margin: 0.25rem 0;
        color: $primary-text;
        font-weight: 700;
    }

    &__input::placeholder {
        font-weight: 400;
    }
}