@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;


.step5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3rem;


    @include tablet {
        margin-top: 5rem;
    }

    &__icon {
        height: 4rem;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 1.5rem;
        margin: 1rem;
    }

    &__text {
        color: $secondary-text;
    }
}