@use "../../styles/partials/mixins" as *;

.header {
    background-image: url(../../assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    height: 10rem;
    color: #FFF;
    display: flex;
    z-index: -1;

    @include tablet {
        position: relative;
        flex-direction: column;
        background-image: url(../../assets//images/bg-sidebar-desktop.svg);
        height: 100%;
        background-position: left;
        background-size: contain;
        min-width: 20rem;

    }
}