@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.card {
    background-color: $secondary-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
    height: 40rem;

    @include tablet {
        flex-direction: row;
        height: 30rem;
        min-width: 750px;
        padding: 1rem;
        background-color: #fff;
        border-radius: 7px;
    }

    &__div {
        color: $primary-text;

        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 25rem;
            height: 100%;
            margin-right: 5rem;
        }
    }
}